body {
    background-color: #101213;
    padding: 1%;
    color: white;
}

h1 {
    font-family: fantasy;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about {
    background-color: #162521;
    color: white;
    font-size: 1.5em;
}

#comp {
    font-size: 2em;
}

#disp {
    font-size: 1.75em;
}

#curio {
    font-size: 1.5em;
}

#amv {
    font-size: 1.25em;
}

#lev {
    font-size: 1em;
}

#megas {
    font-style: oblique;
    font-weight: bold;
    letter-spacing: 1.10px;
    font-size: 1.5em;
    color: rgb(226, 23, 23);
    text-shadow: -1px -1px 0px rgb(255, 255, 255), -1px 1px 0px rgb(255, 255, 255), 1px 0px 0px rgb(255, 255, 255), 1px 1px 0px rgb(255, 255, 255);
    text-align: center;

}

.lista {
    text-align: center;
    background-color: #7c918f;
    color: white;
    font-weight: bold;
    list-style-position: inside;
}
#links {
    font-size: 1.5em;
}
div > p{
    position: absolute;
    left: 19.5%;
    top: 54.75%;
}
#nome{
    letter-spacing: 0.35px;
}
#meg{
    text-align: center;
}
#fot{
    background-color: rgb(247, 2, 2);
    padding: 1%;
    border-radius: 15%;
   
}
ul li:hover:nth-child(even){
    background-color: #182931;
}
ul li:hover:nth-child(odd){
    background-color: #8d9aa0;
}
li:nth-child(odd){
    font-size: 135%;
    background-color: #0b2531;
    
}


